
<div  class="bg-gray-950 flex flex-col justify-center items-center h-screen">
<h1>(MEGA)COLOR-CONVERTER 9000</h1>
<!--  <input-->
<!--    [(colorPicker)]="color"-->
<!--    [style.background]="color"-->
<!--    [cpToggle] = true-->
<!--    [cpDialogDisplay] ="'inline'"-->
<!--[cpOutputFormat] = "'hex'"-->
<!--    [cpAlphaChannel] = "'disabled'"-->
<!--    [cpDisableInput] = true-->
<!--    class="hidden"-->
<!--  />-->

<div class="flex justify-center gap-2 sm:gap-4 md:gap-6 lg:gap-8 ">
    <div class="card" id="CMYK">
        <h2 >CMYK</h2>
        <input type="text" placeholder="C">
        <input type="text" placeholder="M">
        <input type="text" placeholder="Y">
        <input type="text" placeholder="K">
    </div>
    <div class="card" id="HLS">
        <h2 >HLS</h2>
        <input type="text" placeholder="H">
        <input type="text" placeholder="L">
        <input type="text" placeholder="S">
    </div>
    <div class="card" id="XYZ">
        <h2 >XYZ</h2>
        <input type="text" placeholder="X">
        <input type="text" placeholder="Y">
        <input type="text" placeholder="Z">
    </div>
</div>

  <p>{{color}}</p>
</div>

