@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  @apply w-1/4 border-2 border-purple-600 rounded-lg p-2;
}

.card:hover,
input:hover,
button:hover {
  @apply hover-shadow
}

h1,
h2,
input,
button,
.dividerColor,
input::placeholder {
  @apply text-color
}

button {
  @apply border m-10 w-1/5
}

input {
  @apply border w-full
}

input:focus {
  @apply outline-none
}

input:hover {
  @apply outline-none;
}

.divider {
  @apply border
}

.dividerColorHighlighted {
  @apply text-cyan-500 hover-shadow;
}

.hover-shadow {
  @apply shadow-cyan-500 shadow-md drop-shadow-none;
}

.border {
  @apply bg-inherit border-2 border-purple-600 rounded-lg p-2 mb-2
}

.text-color {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 via-blue-500 via-purple-500 to-pink-500 w-full text-center mb-2
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}